#rcorners1 {
    border-radius: 25px;
    background: #c5efff;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  #rcorners2 {
    border-radius: 40px;
    border: 2px solid #cbf098;
    padding: 20px; 
    width: 500px;
    height: 500px;  
  }

  
  h1  {
    border: 3px solid black ;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(7, 167, 167);}

  h3  {
    border: 3px solid black ;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(9, 153, 153);
}
  
  #rcorners3 {
    border-radius: 25px;
    background: #3ba3cc;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
}
    
    a:link, a:visited {
        background-color: #1100ff;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: rgb(5, 255, 242);
      }

      body {
        background-image: url("back2.png");
      }

      p{

font-size: 18px;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-weight: bold;

      }