
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

#rcorners1 {
    border-radius: 25px;
    background: #c5efff;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  #rcorners2 {
    border-radius: 25px;
    background: #fdb5ff;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    color: rgb(22, 0, 100);
  }

  
  h1  {
    font-family:'Zilla Slab Highlight', cursive;
   }

  h3  {
    font-family:'Zilla Slab Highlight', cursive;}
  
  #rcorners3 {
    border-radius: 25px;
    background: #3ba3cc;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
    color: rgb(0, 255, 213);
}
    
    a:link, a:visited {
        background-color: #1100ff;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

      }
      
      a:hover, a:active {
        background-color: rgb(5, 255, 242);
      }

      body {
       background-color: rgb(206, 218, 255);
       
      }

      p{
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
color: rgb(78, 166, 248);
font-weight: bold;

      }